   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   html,
   body {
       height: 100%;
       width: 100%;
   }

   #main {
       height: 100%;
       width: 100%;
       background-color: black;
       position: relative;
   }

   #elem-div {
       height: 100vh;
       width: 100vw;
       overflow-x: auto;
       position: relative;
       overflow-y: hidden;
       white-space: nowrap;
       z-index: 999;
       scroll-behavior: smooth;
   }

   #elem-div::-webkit-scrollbar {
       display: none;
   }

   .elems {
       height: 100%;
       width: 15vw;
       display: inline-block;
       border-right: 1px solid #A4a4a4;
       margin-left: -20px;
       text-decoration: none;
       position: relative;
   }

   .elems h1 {
       top: 50vh;
       font-size: 5vw;
       transform: rotate(-90deg);
       position: absolute;
       color: white;
       width: 600px;
       z-index: 10000000000000000000;
        font-weight:200;
    }

   #img {
       position: absolute;
       height: 250px;
       width: 350px;
       overflow: hidden;
       z-index: 9;
       left: 0;
       top: 0;
       background-position: center;
       transform: rotate(2deg);
       background-size: cover;
       transition: height 0.5s, width 0.5s, background-image 0.5s, transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
       font-style:oblique;
   }